html,
body {
  height: 100%;
  font-size: $font-size-base;
  background: $body-bg;
  font-family: $primary-font;
  color: $text-color;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main.content {
  flex: 1 1 auto;
}

a {
  font-weight: normal;
  transition: all $transition-time ease-in-out;

  &:hover, &:focus {
    outline: 0;
    text-decoration: none;
  }
}

button, .btn {
  outline: 0;
  font-weight: 600;
  transition: all $transition-time ease-in-out;
  border-style: solid;
  border-width: 1px;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn-primary {
  color: $white;
  background-color: transparent;
  border-color: $white;
  @include rem(border-radius, 50);
  @include rem(padding-top, 20);
  @include rem(padding-bottom, 20);
  @include rem(padding-left, 32);
  @include rem(padding-right, 32);
  @include rem(font-size, 20);

  &:hover, &:focus, &:active {
    background-color: darken($primary-color, 10%) !important;
    border-color: darken($primary-color, 10%) !important;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 0px) {
    max-width: calc(100% - 30px)
  }
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
  }
}

.d-flex {
  display: flex;
}

.align-items-end {
  align-items: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
