.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  @include rem(padding-top, 16);
  @include rem(padding-bottom, 16);
  @media screen and (min-width: 992px) {
    @include rem(padding-top, 40);
  }

  &-menu {
    position: relative;
    height: fit-content;

    &-btn {
      position: absolute;
      right: 0;
      border: 0;
      background: transparent;

      &-close {
        position: absolute;
        @include rem(top, 20);
        @include rem(right, 20);
        border: 0;
        padding: 0;
        background: transparent;

        svg {
          rect {
            transition: all $transition-time ease-in-out;
          }
        }

        &:hover, &:focus {
          svg {
            rect {
              fill: $primary-color
            }
          }
        }
      }

      &.active {
        z-index: -1;
      }

      svg {
        rect {
          transition: all $transition-time ease-in-out;
        }
      }

      &:hover, &:focus {
        svg {
          rect {
            width: 100%;
            fill: $primary-color
          }
        }
      }
    }

    &-nav {
      visibility: hidden;
      background: $footer-bg;
      padding: 0;
      @include rem(min-width, 180);
      transition: all 0.3s ease-in-out;
      height: 0;
      opacity: 0;
      top: 0;
      right: 0;
      position: absolute;

      &.active {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        height: auto;
        padding: 90px 24px 24px;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      li {
        @include rem(padding-top, 16);
        @include rem(padding-bottom, 16);
      }

      a {
        color: $white;
        text-decoration: none;
        font-weight: bold;
        @include rem(padding, 8);
        @include rem(font-size, 28);

        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
  }
}
