.content-panel {
  display: flex;
  background: $white;
  @include rem(padding-top, 90);
  @include rem(padding-bottom, 90);

  &-figure {
    width: 50%;
    @include rem(padding-left, 15);
    @include rem(padding-right, 15);
    flex: 1 0 auto;

    img {
      margin: auto;
    }
  }

  &-content {
    width: 50%;
    @include rem(padding-left, 45);
    @include rem(padding-right, 15);
    @media screen and (max-width: 991px) {
      width: 100%;
      @include rem(padding-left, 15);
      @include rem(margin-top, 32);
    }

    &-slogan {
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      color: $panel-slogan-color;
      @include rem(font-size, 18);
    }

    &-title {
      @include rem(margin-top, 16);
      @include rem(margin-bottom, 24);
      @media screen and (max-width: 991px) {
        @include rem(font-size, 30);
      }
      @media screen and (min-width: 992px) {
        @include rem(font-size, 35);
      }
      @media screen and (min-width: 1200px) {
        @include rem(font-size, 45);
      }
    }

    &-paragraph {
      margin: auto;
      line-height: 1.8;
      @include rem(font-size, 20);
    }
  }
}
