.hero {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgb(14, 37, 63);
    background: linear-gradient(90deg, rgba(14, 37, 63, 0) 0%, rgba(14, 37, 63, 0) 35%, rgba(9, 21, 35, 1) 100%);
  }

  &-banner {
    @include rem(height, 500);
    width: 100vw;
    object-fit: cover;
    object-position: right;
  }

  &-content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @media screen and (max-width: 1199px) {
      width: calc(100% - 32px);
      max-width: 100%;
      @include rem(padding-left, 16);
      @include rem(padding-right, 16);
    }

    &-slogan {
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      color: $hero-slogan-color;
      @include rem(font-size, 18);
    }

    &-title {
      color: $white;
      @include rem(font-size, 45);
      @include rem(margin-top, 8);
      @include rem(margin-bottom, 16);
      @media screen and (max-width: 767px) {
        @include rem(font-size, 40);
      }
    }

    &-paragraph {
      color: $white;
      margin: auto;
      line-height: 1.8;
      @include rem(font-size, 20);
      @include rem(max-width, 480);
      @include rem(margin-bottom, 32)
    }

    &-btn {
    }
  }
}
