.main-hero {
  display: flex;
  background: rgb(14, 37, 63);
  background: linear-gradient(0deg, rgba(14, 37, 63, 1) 0%, rgba(14, 37, 63, 1) 35%, rgba(9, 21, 35, 1) 100%);
  overflow: hidden;

  &-figure {
    width: 50%;
    @include rem(padding-left, 15);
    @include rem(padding-right, 15);
    flex: 1 0 auto;
    @media screen and (max-width: 991px) {
      order: -1;
    }
    @media screen and (min-width: 992px) {
      @include rem(margin-bottom, -25);
      @include rem(padding-right, 0);
    }

    img {
      margin: auto;
      @media screen and (max-width: 991px) {
        width: 100%;
        @include rem(max-width, 500);
      }
    }
  }

  &-content {
    width: 50%;
    @include rem(padding-left, 15);
    @include rem(padding-right, 15);
    @media screen and (max-width: 991px) {
      width: 100%;
      @include rem(padding-left, 15);
      @include rem(margin-top, 32);
    }
    @media screen and (min-width: 992px) {
      @include rem(padding-left, 80);
      @include rem(padding-right, 0);
    }

    &-slogan {
      font-family: $secondary-font;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      color: $hero-slogan-color;
      @include rem(font-size, 18);
    }

    &-title {
      color: $white;
      @include rem(margin-top, 16);
      @include rem(margin-bottom, 32);
      @media screen and (max-width: 991px) {
        @include rem(font-size, 30);
      }
      @media screen and (min-width: 992px) {
        @include rem(font-size, 45);
      }
      @media screen and (min-width: 1200px) {
        @include rem(font-size, 65);
      }
    }

    &-paragraph {
      color: $white;
      margin: auto;
      line-height: 1.8;
      @include rem(font-size, 20);
    }

    &-actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include rem(margin-top, 40);
      @include rem(margin-bottom, 50);
    }

    &-btn {
      @include rem(margin-right, 24);
      @include rem(margin-bottom, 16);
    }

    &-link {
      color: $white;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      @include rem(padding-bottom, 4);
      @include rem(margin-bottom, 16);

      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background: $white;
        transition: all $transition-time ease-in-out;
      }

      &:hover, &:focus {
        color: $primary-color;

        &:after {
          background: $primary-color;
        }
      }
    }
  }
}
