$white: #fff;
$black: #000;
$body-bg: #edeff3;
$footer-bg: #010203;
$hero-slogan-color: #01FDAB;
$panel-slogan-color: #0262F0;
$primary-color: #01FDAB;
$text-color: #081523;
$headings-font-weight: 700;
$link-color: $primary-color;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Cousine', monospace;
$transition-time: 0.3s;
$font-size-base: 16px;
