.footer {
  background: $footer-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  @include rem(padding-top, 24);
  @include rem(padding-bottom, 24);
  @include rem(padding-left, 16);
  @include rem(padding-right, 16);
}
