html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

a {
  background-color: transparent; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

html,
body {
  height: 100%;
  font-size: 16px;
  background: #edeff3;
  font-family: "Montserrat", sans-serif;
  color: #081523; }

.page-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

main.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

a {
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    outline: 0;
    text-decoration: none; }

button, .btn {
  outline: 0;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-style: solid;
  border-width: 1px; }
  button:hover, button:active, button:focus, .btn:hover, .btn:active, .btn:focus {
    cursor: pointer; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-radius: 3.125rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #01ca89 !important;
    border-color: #01ca89 !important; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 0px) {
    .container {
      max-width: calc(100% - 30px); } }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -15px;
  margin-right: -15px; }
  @media screen and (max-width: 991px) {
    .row {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media screen and (min-width: 992px) {
    .header {
      padding-top: 2.5rem; } }
  .header-menu {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .header-menu-btn {
      position: absolute;
      right: 0;
      border: 0;
      background: transparent; }
      .header-menu-btn-close {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        border: 0;
        padding: 0;
        background: transparent; }
        .header-menu-btn-close svg rect {
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .header-menu-btn-close:hover svg rect, .header-menu-btn-close:focus svg rect {
          fill: #01FDAB; }
      .header-menu-btn.active {
        z-index: -1; }
      .header-menu-btn svg rect {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .header-menu-btn:hover svg rect, .header-menu-btn:focus svg rect {
        width: 100%;
        fill: #01FDAB; }
    .header-menu-nav {
      visibility: hidden;
      background: #010203;
      padding: 0;
      min-width: 11.25rem;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      height: 0;
      opacity: 0;
      top: 0;
      right: 0;
      position: absolute; }
      .header-menu-nav.active {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        height: auto;
        padding: 90px 24px 24px; }
      .header-menu-nav ul {
        padding: 0;
        margin: 0;
        list-style: none; }
      .header-menu-nav li {
        padding-top: 1rem;
        padding-bottom: 1rem; }
      .header-menu-nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem;
        font-size: 1.75rem; }
        .header-menu-nav a:hover, .header-menu-nav a:focus {
          color: #01FDAB; }

.footer {
  background: #010203;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.main-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0e253f;
  background: -webkit-gradient(linear, left bottom, left top, from(#0e253f), color-stop(35%, #0e253f), to(#091523));
  background: linear-gradient(0deg, #0e253f 0%, #0e253f 35%, #091523 100%);
  overflow: hidden; }
  .main-hero-figure {
    width: 50%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    @media screen and (max-width: 991px) {
      .main-hero-figure {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; } }
    @media screen and (min-width: 992px) {
      .main-hero-figure {
        margin-bottom: -1.5625rem;
        padding-right: 0rem; } }
    .main-hero-figure img {
      margin: auto; }
      @media screen and (max-width: 991px) {
        .main-hero-figure img {
          width: 100%;
          max-width: 31.25rem; } }
  .main-hero-content {
    width: 50%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
    @media screen and (max-width: 991px) {
      .main-hero-content {
        width: 100%;
        padding-left: 0.9375rem;
        margin-top: 2rem; } }
    @media screen and (min-width: 992px) {
      .main-hero-content {
        padding-left: 5rem;
        padding-right: 0rem; } }
    .main-hero-content-slogan {
      font-family: "Cousine", monospace;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      color: #01FDAB;
      font-size: 1.125rem; }
    .main-hero-content-title {
      color: #fff;
      margin-top: 1rem;
      margin-bottom: 2rem; }
      @media screen and (max-width: 991px) {
        .main-hero-content-title {
          font-size: 1.875rem; } }
      @media screen and (min-width: 992px) {
        .main-hero-content-title {
          font-size: 2.8125rem; } }
      @media screen and (min-width: 1200px) {
        .main-hero-content-title {
          font-size: 4.0625rem; } }
    .main-hero-content-paragraph {
      color: #fff;
      margin: auto;
      line-height: 1.8;
      font-size: 1.25rem; }
    .main-hero-content-actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-top: 2.5rem;
      margin-bottom: 3.125rem; }
    .main-hero-content-btn {
      margin-right: 1.5rem;
      margin-bottom: 1rem; }
    .main-hero-content-link {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      padding-bottom: 0.25rem;
      margin-bottom: 1rem; }
      .main-hero-content-link:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .main-hero-content-link:hover, .main-hero-content-link:focus {
        color: #01FDAB; }
        .main-hero-content-link:hover:after, .main-hero-content-link:focus:after {
          background: #01FDAB; }

.content-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem; }
  .content-panel-figure {
    width: 50%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    .content-panel-figure img {
      margin: auto; }
  .content-panel-content {
    width: 50%;
    padding-left: 2.8125rem;
    padding-right: 0.9375rem; }
    @media screen and (max-width: 991px) {
      .content-panel-content {
        width: 100%;
        padding-left: 0.9375rem;
        margin-top: 2rem; } }
    .content-panel-content-slogan {
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      color: #0262F0;
      font-size: 1.125rem; }
    .content-panel-content-title {
      margin-top: 1rem;
      margin-bottom: 1.5rem; }
      @media screen and (max-width: 991px) {
        .content-panel-content-title {
          font-size: 1.875rem; } }
      @media screen and (min-width: 992px) {
        .content-panel-content-title {
          font-size: 2.1875rem; } }
      @media screen and (min-width: 1200px) {
        .content-panel-content-title {
          font-size: 2.8125rem; } }
    .content-panel-content-paragraph {
      margin: auto;
      line-height: 1.8;
      font-size: 1.25rem; }

.hero {
  position: relative; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #0e253f;
    background: -webkit-gradient(linear, left top, right top, from(rgba(14, 37, 63, 0)), color-stop(35%, rgba(14, 37, 63, 0)), to(#091523));
    background: linear-gradient(90deg, rgba(14, 37, 63, 0) 0%, rgba(14, 37, 63, 0) 35%, #091523 100%); }
  .hero-banner {
    height: 31.25rem;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right; }
  .hero-content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
    @media screen and (max-width: 1199px) {
      .hero-content {
        width: calc(100% - 32px);
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem; } }
    .hero-content-slogan {
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      color: #01FDAB;
      font-size: 1.125rem; }
    .hero-content-title {
      color: #fff;
      font-size: 2.8125rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem; }
      @media screen and (max-width: 767px) {
        .hero-content-title {
          font-size: 2.5rem; } }
    .hero-content-paragraph {
      color: #fff;
      margin: auto;
      line-height: 1.8;
      font-size: 1.25rem;
      max-width: 30rem;
      margin-bottom: 2rem; }
